body {
	background-image: url('../images/SX__712x384_phone_dealas.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Ubuntu", sans-serif;
	/* height: 6000px; */
	background-color: #ff9900;
}

.container {
	position: sticky;
	z-index: 999;
	top: 0;
	width: 100%;
}

.ads-gif {
	width: 100%;
	height: 50px;
}

.ads-gif img {
	width: 100%;
}

.header {
	background-color: rgb(238, 236, 236);
	height: 28px;
	width: 100%;
}

.header>ul>li .pay-icon:hover {
	color: rgb(0, 153, 255);
	font-weight: 600;
}

.header>ul>.logo-text>a {
	color: rgb(27, 27, 27);
	font-weight: 600;
	letter-spacing: -0.8px;
}

.header>ul>.logo-text>a>i {
	color: #ff9900;
	font-size: 10px;
}

.header>ul {
	padding: 5px;
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.header>ul>li>a {
	color: rgb(192, 188, 188);
	text-decoration: none;
	padding: 10px;
	font-size: 14px;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
}

.header>ul>li>a:hover {
	color: #ff9900;
}

.main-menu {
	background-color: white;
	display: grid;
	grid-template-columns: 0.7fr 1.5fr 1fr;
	height: 80px;
}

.logo {
	margin-left: 50px;
}

.main-menu>ul {
	padding: 0;
	list-style-type: none;
	padding-right: 20px;
}

.drop-down {
	display: flex;
	margin-top: 9px;
}

.account-drop-down {
	display: none;
	background-color: white;
	width: 140%;
	margin-left: -30px;
	text-align: start;
	border: none;
	border-radius: 7px;
	margin-top: 20px;
}

.drop-down>li:hover .account-drop-down {
	display: block;
}

.account-drop-down li {
	list-style: none;
	text-align: start;
	padding: 10px;
	margin-left: -19px;
}

.account-drop-down>li>a {
	color: rgb(53, 52, 52);
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: 500;
	font-size: 15px;
}

.account-drop-down button:hover {
	background-color: #f3a32c;
}

.account-drop-down li:hover {
	opacity: 0.8;
}

.account-drop-down>li>a>i {
	margin-right: 10px;
	font-size: 19px;
}

.account-drop-down>hr {
	width: 120%;
	margin-left: -40px;
	border: 0.2px solid rgb(240, 237, 237);
}

.account-drop-down button {
	width: 100%;
	height: 40px;
	background-color: #ff9900;
	color: white;
	border: none;
	border-radius: 4px;
	margin-left: -10px;
	cursor: pointer;
}

.main-menu>ul>li {
	display: inline;
	padding: 20px;
}

.main-menu>ul>li>a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: rgb(95, 91, 91);
	font-family: Arial, Helvetica, sans-serif;
}

.main-menu>ul>li>a:hover {
	color: #ff9900;
}

.search-bar input {
	margin-top: 14px;
	border: 1px solid rgb(206, 201, 201);
	border-radius: 5px;
	width: 500px;
	height: 40px;
	font-size: 16px;
	padding-left: 15px;
	font-weight: 500;
}

.search-bar button {
	height: 39px;
	background-color: #ff9900;
	border: none;
	border-radius: 5px;
	color: white;
	width: 100px;
	cursor: pointer;
}

.drop-down-icon {
	font-size: 10px;
	margin-left: 13px;
}


/********   first banner slider     ************/

.first-banner {
	width: 90%;
	box-shadow: 0px 0px 35px rgb(131, 99, 39);
	height: 400px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 2.7fr 1fr;
	column-gap: 13px;
	background-color: #ff9900;
}

.first-banner>div {
	margin-top: 15px;
}

.service-lists {
	background-color: white;
	width: 80%;
	height: 95%;
	margin: auto;
	margin-top: 3px;
	border-radius: 4px;
}

.banner-slide-one {
	width: 720px;
	height: 390px;
	margin: auto;
	margin-top: 3px;
	border-radius: 4px;
	padding: 0;
}

.banner-slide-one img {
	height: 100%;
	border-radius: 4px;
	z-index: -999;
}

.brand-banner {
	display: grid;
	row-gap: 15px;
	grid-template-rows: 1fr 1fr;
}

.brand-banner>div {
	width: 96%;
	margin: auto;
	height: 97%;
	border-radius: 4px;
}

/******Servic pages and banner images*******/

.service-lists>ul {
	list-style: none;
	display: inline;
	align-content: start;
	padding: 0;

}

.service-lists>ul>li {
	text-align: left;
	line-height: 250%;
	font-size: 12px;
	margin-left: 10px;
}

.service-lists>ul>li>a {
	color: rgb(49, 49, 51);
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.4px;
	font-weight: 200;
	text-decoration: none;
}

.service-lists>ul>li>a:hover {
	color: #ff9900;
}

.service-lists>ul>li>a>i {
	font-size: 17px;
	text-align: start;
	margin-right: 17px;
}

.festive-banner,
.sale-banner {
	margin: auto;
}

.festive-banner img,
.sale-banner img {
	width: 92%;
	height: 90%;
	border-radius: 5px;
}

.lSpg {
	margin-top: -35px !important;
}

.lSpg>li a {
	color: #f3a32c !important;
	background-color: #aca49a !important;
}

/**** Products-deal*****/

.first-product-deals-container {
	background-color: white;
	height: 360px;
	width: 90%;
	border-radius: 4px;
	margin: auto;
	margin-top: 15px;
}

.first-deals {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	margin: auto;
	width: 98%;
	text-align: center;
}

.first-deals img {
	width: 90%;
	height: 80%;
	margin-top: 10px;

	border-radius: 4px;
}

.first-deals span {
	font-size: 14px;
	font-weight: bold;
}

.top-selling-items {
	background-color: white;
	width: 90%;
	margin: auto;
	border-radius: 4px;
	height: auto;
}

.top-selling-items p {
	padding-left: 15px;
	padding-top: 10px;
	font: 16px sans-serif;
	font-weight: 600;
}

.top-selling-items ul {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	list-style: none;
	margin: auto;
	text-align: start;
	padding: 10px;
}

.top-selling-items img {
	height: auto;
	width: 90%;
	border-radius: 4px;
}

.top-selling-items li a {
	font-size: 13px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

.top-selling-items>ul>li>a {
	color: black;
}

/****Collection deals*****/

.collection-deals,
.phone-tablet-deals,
.more-collections,
.electronic-deals {
	background-color: white;
	width: 90%;
	margin: auto;
	border-radius: 4px;
}

.collection-deals ul,
.phone-tablet-deals ul,
.more-collections ul,
.electronic-deals ul {
	list-style: none;
	margin: 8px;
	padding: 0px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 10px;

}

.collection-deals p,
.phone-tablet-deals p,
.more-collections p,
.electronic-deals p {
	text-align: center;
	background-color: rgb(228, 211, 183);
	padding: 15px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-weight: 600;
	font-size: 18px;
	color: rgb(27, 26, 26);
}

.collection-deals img,
.phone-tablet-deals img,
.more-collections img,
.electronic-deals img {
	width: 100%;
	border-radius: 4px;
}

/****Second banner slider*****/

.second-banner-slide {
	width: 90%;
	margin: auto;
	background-color: #ff9900;
	border-radius: 4px;
}

.second-banner-slide img {
	width: 100%;
	border-radius: 4px;
}


/****Official Store deals****/
.official-stores {
	height: 270px;
	background-color: white;
	width: 90%;
	margin: auto;
	border-radius: 4px;
	text-align: center;
}

.official-stores p,
.pernod-official-store p {
	padding: 10px;
	background-color: rgb(222, 239, 255);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-weight: 600;
	font-size: 18px;
	color: #252423;
}

.official-store-deals {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.official-store-deals img {
	width: 90%;
}

.pernod-official-store {
	background-color: white;
	width: 90%;
	height: 320px;
	border-radius: 4px;
	margin: auto;
}

.pernod-deals {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.pernod-deals img {
	width: 90%;
	height: 80%;
}

.pernod-deals div {
	font-size: 13px;
	text-align: center;
}

.pernod-deals>div>a {
	text-decoration: none !important;
	color: black;
	font-weight: 600;
}

/**********Documentation*******/

.documentation {
	background-color: white;
	width: 90%;
	margin: auto;
	border-radius: 4px;
}

.doc-container {
	margin: 20px;
	font-family: Roboto -apple-system BlinkMacSystemFont "Segoe UI"
		"Helvetica Neue"
		Arial sans-serif;
	color: #141414;
	padding-bottom: 20px;
}

.doc-container h1 {
	padding-top: 20px;
	font-size: 18px;
}

.doc-container p {
	font-size: 12px;
	font-family: Roboto -apple-system BlinkMacSystemFont "Segoe UI"
		"Helvetica Neue"
		Arial sans-serif;
}

.doc-container h2 {
	font-size: 18px;
}

.doc-container h3 {
	font-size: 14px;
}

/*****Footer*****/

.footer {
	background-color: rgb(83, 83, 87);
	width: 100%;
	margin-top: 100px;
	border-radius: 4px;
	color: gainsboro;
	font-family: sans-serif;
}

.sub-footer {
	background-color: rgb(49, 49, 51);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr;
	align-items: center;
	height: 150px;
}

.sub-footer>.footer-logo {
	margin: auto;
	margin-bottom: 85px;
}

.subscribe-jumia {
	margin-bottom: 30px;
}

.subscribe-jumia input {
	padding: 16px;
	width: 230px;
	border-radius: 4px;
	border: none;
}

.p1 {
	font-weight: 600;
	font-size: 12px;
}

.p2 {
	font-size: 12px;
	font-weight: 100;
}

.subscribe-jumia button {
	padding: 15px;
	margin: 3px;
	border: 1px solid gainsboro;
	border-radius: 4px;
	background-color: transparent;
	cursor: pointer;
	color: gainsboro;
	font-weight: 600;
	font-size: 12px;
}

.subscribe-jumia button:hover {
	border: 1px solid #ff9900;
	color: #ff9900;
}

.sub-footer-two {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 90%;
	margin: auto;
	margin-top: 20px;
}

.sub-footer-two p {
	font-size: 12px;
	font-weight: 600;
	color: rgb(252, 249, 249);
}

.sub-footer-two ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 22px;
	letter-spacing: 0.5px;
}
.sub-footer-two li:hover{
	text-decoration: underline;
}

.jumia-international {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.payment-method {
	width: 91%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.footer hr {
	width: 90%;
	margin: auto;
	font-size: small;
	border-bottom: none;
}
.bottom-footer{
	width: 90%;
	margin: auto;
	text-align: center;
}
.bottom-footer p{
	text-align: center;
	padding-bottom: 15px;
}
